dataclasses-json<1.0
epitran==1.17
espeak-phonemizer>=1.0,<2.0
gruut>=2.3.0,<3.0
numpy<2.0
onnxruntime>=1.6,<2.0
phonemes2ids<2.0
quart>=0.16,<1.0
quart-cors
requests>=2,<3
swagger-ui-py>=21,<22
tqdm>=4,<5
xdgenvpy>2.0,<3
